{% include 'header_server.html' %}
<style>


</style>
<div class="card-header bg-light"><strong>Attendance List</strong></div>
<div class="card-body text-nowrap pt-5">
  {% for msg in messages %}
  <div class="alert alert-success mt-2">
    {{msg}}
  </div>
  {% endfor %}
  <form action="" method="post">
    {%csrf_token%}
    <div class="row justify-content-center">
        <div class="col-lg-2">
            Course
            <select class="form-select form-select-sm mb-3" name="course" id="course">
                <option>-Select-</option>
                
                <option>UG</option>
                <option>PG</option>
                
              </select>
        </div>
        <div class="col-lg-2">
            <label for="">Degree</label>  
            <select class="form-select form-select-sm mb-3" name="deg" id="deg">
              
            </select>
    
        </div>
        <div class="col-lg-2">
            <label for="">Department</label>  
              <select class="form-select form-select-sm mb-3" name="dept" id="dept">
                
              </select>
    
        </div>
        <div class="col-lg-2">
            <label for="">Batch</label>  
              <select class="form-select form-select-sm mb-3" name="bat" id="bat">
                
              </select>
    
        </div>
        <div class="col-lg-2">
            <label for="">Date</label>  
             <input type="date" name="dt" class="form-control form-control-sm">
        </div>
        
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
  </form>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Course</th>
            <th>Degree</th>
            <th>Department</th>
            <th>Batch</th>
            <th>Name</th>
            
            <th>Date/Time</th>
           
          </tr>
        </thead>
        <tbody>
          {% for ob in frm %}
          <tr>
          <td>{{forloop.counter}}</td>
          
          <td>{{ob.admission.course}}</td>
          <td>{{ob.admission.deg}}</td>
          <td>{{ob.admission.dept}}</td>
          <td>{{ob.admission.bat}}</td>
          <td>{{ob.admission.sname}}</td>
          
          <td>{{ob.dt|date:"Y-m-d"}}</td>
          
          <td>
          <a class="badge bg-danger" href="/attendanceDelete/{{ob.id}}">Delete</a>
         </td>
        </tr>
         {%endfor%}
        </tbody>
    </table>
    </div>
</div>


{% include 'footer.html' %}
<script type="text/javascript">
    // alert("Welcome")
    $(document).ready(function() {
        // console.log("p")
        $('#course').change(function() {
            // var course = $(this).attr('course');
          
            var course = document.getElementById("course").value
            
            console.log("course -"+course)
  
                $.ajax({
                    url: "/checkCourse",
                    data: {
                        
                        'course': course,
                       
                        
                    },
                    dataType: 'json',
                    success: function(data) {
                        // alert(data.deg)
                        console.log(data.data)
                        var opt="<option>-Select-</option>"
                        for(let i=0;i<data.data.length;i++){
                            console.log(data.data[i])
                            opt=opt+"<option>"+data.data[i]+"</option>";
                        }
                        document.getElementById("deg").innerHTML=opt;
                        opt="<option>-Select-</option>"
                        let k=0;
                        if(course=="UG")
                        {
                            k=3
                        }
                        else{
                            k=2
                        }
                        for(let i=2022;i<=2030;i++){
                            
                            opt=opt+"<option>"+i+"-"+ (i+k)+"</option>";
                        }
                        document.getElementById("bat").innerHTML=opt;
                    },
                    error: function(error) {
                        
                    }
                });
          
        });
        $('#deg').change(function() {
            // var course = $(this).attr('course');
          
            var course = document.getElementById("course").value
            var deg = document.getElementById("deg").value
            
            console.log("course -"+course)
  
                $.ajax({
                    url: "/checkDegree",
                    data: {
                        
                        'course': course,
                        'deg': deg,
                        
                       
                        
                    },
                    dataType: 'json',
                    success: function(data) {
                        // alert(data.deg)
                        console.log(data.data)
                        var opt="<option>-Select-</option>"
                        for(let i=0;i<data.data.length;i++){
                            console.log(data.data[i])
                            opt=opt+"<option>"+data.data[i]+"</option>";
                        }
                        document.getElementById("dept").innerHTML=opt;
                        if (data.name) {
                            $('#dept').html('<h3>You selected: ' + data.name + '</h3>');
                        }
                    },
                    error: function(error) {
                        
                    }
                });
          
        });
        
      });
  
  </script>